<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <bean class="ValuesInSetType.Fruits" id="frt" c:color="red" c:taste="sweet">
   
   <constructor-arg name="fruitname">
   <set>
   <value>Apple</value>
   <value>pomegranate</value>
   <value>Banana</value>
   <value>Grappes</value>
   </set>  
     
    </constructor-arg>
    
    </bean>
    
    </beans>